packages:  
  yum:
    make: []
    gcc-c++: []
    gcc-gfortran: []
    python34-devel: []
    atlas-sse3-devel: []
    lapack-devel: []
    libcurl-devel: []
commands:
  00_pip_upgrade:
    command: /opt/python/run/venv/bin/pip install --upgrade pip
    ignoreErrors: false
container_commands:
  01_install_dependencies:
    command: /opt/python/run/venv/bin/pip install -r dependencies.txt
    ignoreErrors: false
  03_start_celery:
    command: /opt/python/run/venv/bin/circusd --daemon circus.ini
    ignoreErrors: false
option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: run.py