<html>
  <head>
    <title>Flask + Celery + SocketIO Example</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  </head>
  <body>
    <div style="margin:10px">
        <h1>Flask + Celery + SocketIO Example</h1>
        <h2>Example: Long running task with progress updates</h2>
    </div>

    <br>
    <div style="margin: 10px; text-align:center">
        <button id="start-bg-job" type="button" class="btn btn-primary">Start Long Calculation</button>
    </div>
    <br><br>

    <div id="bar-table">
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script>
        var userId;
        namespace = '/run';
        // stablish a connection to the server for the client  
        var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
        console.log('http://' + document.domain + ':' + location.port + namespace)
        // upon the connetion, the client emits an event to the server called 'connection'  
        socket.on('connect', function(){
            socket.emit('status', {status: 'I\'m connected!'});
        });

        socket.on('connected', function(msg){
            userId = msg.user_id;
        });


        socket.on('event', function(msg){
            taskID = msg.task_id
            barID = msg.bar_id
            data = msg.data
            $('#'+barID).find('.cancel').attr('task',taskID);
            update_progress(barID, taskID, data);
        });


        hljs.initHighlightingOnLoad();
        hljs.initHighlighting.called = false;
        $('pre').each(function(i, e) {
              hljs.highlightBlock(e)
            });

        var barNum = $("#bartable").length;

        function start_long_task() {
            // add task status elements
            div = $('<div class="row" style="margin-bottom:20px; margin-left:20px"><span class="task-id" style="width:20%"></span><div class="column" style="width:60%; margin: 10px"><div class="progress" style="width:100%; height: auto"><div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:0%; height:20px"><span class="progress-percent"></span></div></div> <div class="progress-status"></div></div><div class="cbutton" style="display: inline; float:left; position:relative; top:3px; left:10px;"><button class="btn btn-danger cancel">Cancel</button>&nbsp;<button class="btn btn-warning clear" disabled>Clear</button></div></div>');

            var barID = "bar"+barNum;
            div.attr('id',barID);
            $('#bar-table').append(div);

            barNum ++;

            // send ajax POST request to start background job
            socket.emit('submit', {'user_id': userId, 'bar_id':barID});
        }

        function update_progress(barID, taskID, data) {
            // update UI
            $('#'+barID).find('.task-id').html('<strong>TaskID:</strong> '+taskID);
            percent = parseInt(data['current'] * 100 / data['total']);
            $('#'+barID).find('.progress-bar').css('width', percent+'%')
            $('#'+barID).find('.progress-percent').text(percent + '%');
            $('#'+barID).find('.progress-status').text(data['status']);

            if (data['state'] == 'REVOKED'){
                $('#'+barID).find('.progress-status').text(data['status']);
                $('#'+barID).find('.progress-percent').text("CANCELED");
                $
            }
            else if (data['state'] == 'FAILURE'){
                $('#'+barID).find('.progress-percent').text("ERROR");
                $('#'+barID).find('.progress-bar').addClass("bg-danger");
                $('#'+barID).find('.progress-status').html("<br><pre class='bash'>"+data['traceback']+"</pre>");
                $('#'+barID).find('.cancel').prop('disabled', true);
                $('#'+barID).find('.clear').prop('disabled', false);
                $('pre').each(function(i, e) {
                  hljs.highlightBlock(e)
                });
            }
            else if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
                if ('result' in data) {
                    // show result
                    $('#'+barID).find('.progress-status').text('Result: ' + data['result']);
                    $('#'+barID).find('.progress-bar').addClass("bg-success");
                    $('#'+barID).find('.cancel').prop('disabled', true);
                    $('#'+barID).find('.clear').prop('disabled', false);
                }
                else {
                    // something unexpected happened
                    $('#'+barID).find('.progress-status').text('Result: ' + data['state']);
                }
            }
        }

        $(function() {
            $('#start-bg-job').click(start_long_task);
        });

        $(function() {
            $(document).on('click',".cancel",function() {
                var button = $(this);

                var data = {
                    'task_id' :  button.attr("task"),
                    'bar_id' :  button.closest('.row').attr("id"),
                    'user_id': userId
                };

                socket.emit('cancel', data);
                button.closest('.row').find('.progress-bar').addClass("bg-warning");
                button.prop('disabled', true);
                button.closest('div').find('.clear').prop('disabled', false);
            });
        });

        $(function() {
            $(document).on('click',".clear",function() {
                var button = $(this);
                button.closest('.row').remove();
            });
        });
    </script>
  </body>
</html>
